.pages-component * {
  letter-spacing: 0.03em;
}

.pages-component {
  color: rgb(214, 214, 214);
}

.pages-component .container {
  display: flex;
}

.pages-component .content-block {
  width: 100%;
  background: rgb(40, 40, 40);
  padding: 20px;
}

.pages-component .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.pages-component .card {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgb(55, 55, 55);
  border-radius: 9px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  background: rgb(33, 33, 33);
}

.pages-component .card:hover {
  background: rgb(34, 34, 34);
}

.pages-component .card:active {
  transform: translateY(2px);
  box-shadow: none;
}

.pages-component .create-card {
  background: rgb(49, 49, 49);
  border: 0;
  max-width: 250px;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.pages-component .create-card .text {
  display: flex;
  flex-direction: column;
}

.pages-component .create-card:hover {
  transform: none;
}

.pages-component .card h3 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.05em;
  margin: 0 0 3px;
  max-width: 82%;
  word-wrap: break-word;
}

.pages-component .card span {
  font-size: 13px;
  color: rgb(105, 105, 105);
}

.pages-component .card.create-card span {
  color: rgb(214, 214, 214);
  font-size: 14px;
}

.pages-component .card.create-card span.subtitle {
  font-size: 12px;
  margin-top: 3px;
}

.pages-component .channel-actions {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 4px;
  position: absolute;
  transform: translate(3px, -3px);
}

.pages-component .channel-action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 4px;
  transition-duration: 0.1s;
  transition-property: transform, background, box-shadow;
  transition-timing-function: linear;
}

.pages-component .channel-action:hover {
  background: #00000044;
}

.pages-component .channel-action:active {
  background: #00000044;
  transform: translate(1px, 1px);
  box-shadow: none;
}

.pages-component .icon {
  width: 14px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  stroke: rgb(255, 255, 255);
}

.pages-component .icon.edit-icon {
  fill: rgb(255, 255, 255);
}

.pages-component .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  padding: 30px 0;
}

.pages-component .modal {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
}

.pages-component .modal h2 {
  color: rgb(44, 44, 44);
}

.pages-component .modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 25px 0 0;
}

.pages-component .modal .custom-checkbox {
  margin: 15px 0;
}

.pages-component .modal .custom-textarea {
  margin-top: 15px;
}

.pages-component .custom-input {
  margin: 25px 0 0;
}

.pages-component .channel-id,
.pages-component .channel-id strong {
  font-size: 12px;
  color: rgb(123 123 123);
}
